<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="flex flex-row" th:fragment="header">
    <div class="w-full m-1">
    <a th:replace="fragments/link.html::admin-link(~{::button})">
        <button class="btn-primary" th:text="#{return}" type="button"/>
    </a>
    </div>
</div>
s
<div class="mt-auto w-full h-16 grid place-items-center" th:fragment="footer">
    <div class="w-11/12 border-t grid place-items-center">
        <p class="inline-block dark:text-white mt-5 mb-5" th:text="#{copyright}"></p>
    </div>
</div>


</body>
</html>