<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<a th:if="${#httpServletRequest.getServletPath()} != '/admin'"
   th:fragment="admin-link(button)"
   th:href="@{{context_path}/{locale}/admin(
                locale=${@localeContextHolderWrapper.getLocaleContext().getLocale()},
                context_path=${#httpServletRequest.getContextPath()})}"
>
    <button type="button" th:replace="${button}" th:text="#{return}"/>
</a>

</body>
</html>