<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="background">

<div th:replace="fragments/common.html::header"></div>


<div th:replace="fragments/error.html::error-page(~{::#error_message})">
    <p id="error_message"
       class="mb-3 basis-full text-center
                text-gray-700 dark:text-gray-200 break-normal font-bold leading-none text-2xl"
       th:text="#{error_404_text}">
    </p>
</div>

<div th:replace="fragments/common.html::footer"> </div>

</body>
</html>