<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="background">

<div th:replace="fragments/common.html::header"></div>

<div class="grid-center">
    <h2 class="header"
        th:text="#{create_user}"/>
    <form action="#" class="w-full max-w-md"
          method="post" th:action="@{/admin/create-account}"
          th:object="${DTO}">
        <div class="div-with-two-columns">
            <label class="inputLabel"
                   for="form-email" th:text="#{email}"/>
            <input class="input" id="form-email" th:field="*{email}" type="email"/>
            <ul th:if="${#fields.hasErrors('email')}">
                <li class="form-error" th:each="err : ${#fields.errors('email')}" th:text="#{${err}}"/>
            </ul>
        </div>
        <div class="div-with-two-columns">
            <label class="inputLabel"
                   for="form-password" th:text="#{password}"/>
            <input class="input" id="form-password" th:field="*{password}" type="password"/>
            <ul th:if="${#fields.hasErrors('password')}">
                <li class="form-error" th:each="err : ${#fields.errors('password')}" th:text="#{${err}}"/>
            </ul>
        </div>
        <div class="div-with-two-columns">
            <label class="inputLabel"
                   for="form-firstName" th:text="#{first_name}"/>
            <input class="input" id="form-firstName" th:field="*{firstName}" type="text"/>
            <ul th:if="${#fields.hasErrors('firstName')}">
                <li class="form-error" th:each="err : ${#fields.errors('firstName')}" th:text="#{${err}}"/>
            </ul>
        </div>
        <div class="div-with-two-columns">
            <label class="inputLabel"
                   for="form-lastName" th:text="#{last_name}"/>
            <input class="input" id="form-lastName" th:field="*{lastName}" type="text"/>
            <ul th:if="${#fields.hasErrors('lastName')}">
                <li class="form-error" th:each="err : ${#fields.errors('lastName')}" th:text="#{${err}}"/>
            </ul>
        </div>
        <div class="w-full grid-center">
            <p class="form-success mb-5" th:if="${showSuccess != null}"
               th:text="#{successfully_created_account}"/>
            <input class="btn-primary w-64 w-full" id="submit-button" type="submit"/>
        </div>
    </form>
</div>

<div th:replace="fragments/common.html::footer">

</div>


</body>
</html>