<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>

<div class="md:block">
    <h1 class="header" th:text="${accountInfoEntity.getEmail()}" ></h1>
    <div class="flex flex-row">
        <a th:href="@{{context_path}/{locale}/admin(
                locale=${@localeContextHolderWrapper.getLocaleContext().getLocale()},
                context_path=${#httpServletRequest.getContextPath()})}"
        >
            <button type="button" class="btn-primary" th:text="#{return}"/>

        </a>
    </div>
</div>

</body>
</html>