<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="background">

<div class="md:block">
    <h1 class="header" th:text="#{user_list}"></h1>
    <table>
        <thead>
        <tr>
        </tr>
        </thead>
    </table>
    <div class="flex flex-row">
        <a th:href="@{{context_path}/{locale}/admin(
                locale=${@localeContextHolderWrapper.getLocaleContext().getLocale()},
                context_path=${#httpServletRequest.getContextPath()})}"
        >
            <button type="button" class="btn-primary" th:text="#{return}"/>
        </a>
    </div>
</div>

</body>
</html>