<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body class="background">

<div class="h-screen bg-fixed"
     style="background-image: url(https://img-prod-cms-rt-microsoft-com.akamaized.net/cms/api/am/imageFileData/RE5cqGs?ver=4ba8)">
    <div th:replace="fragments/common-welcome.html::header"></div>
    <div class="flex h-screen">
        <div class="m-auto">
            <h2 class="text-default-dark mb-48 mx-20 header text-6xl" th:text="#{lorem_ipsum}"></h2>
        </div>
    </div>
</div>
<div class="alternating-children my-24 mx-32">
    <div class="flex justify-around">
        <div class="w-5/12 flex items-center first-in-order">
            <p class="text-justify h-fit" th:text="#{lorem_ipsum}"></p>
        </div>
        <div class="w-3/12 second-in-order">
            <img class="dark:hidden" th:src="@{/images/beeTwin.svg}">
            <img class="hidden dark:block" th:src="@{/images/beeTwin_white.svg}">
        </div>
    </div>
    <div class="flex justify-around">
        <div class="w-5/12 flex items-center first-in-order">
            <p class="text-justify h-fit" th:text="#{lorem_ipsum}"></p>
        </div>
        <div class="w-3/12 second-in-order">
            <img class="dark:hidden" th:src="@{/images/beeTwin.svg}">
            <img class="hidden dark:block" th:src="@{/images/beeTwin_white.svg}">
        </div>
    </div>
    <div class="flex justify-around">
        <div class="w-5/12 flex items-center first-in-order">
            <p class="text-justify h-fit" th:text="#{lorem_ipsum}"></p>
        </div>
        <div class="w-3/12 second-in-order">
            <img class="dark:hidden" th:src="@{/images/beeTwin.svg}">
            <img class="hidden dark:block" th:src="@{/images/beeTwin_white.svg}">
        </div>
    </div>
    <div class="flex justify-around">
        <div class="w-5/12 flex items-center first-in-order">
            <p class="text-justify h-fit" th:text="#{lorem_ipsum}"></p>
        </div>
        <div class="w-3/12 second-in-order">
            <img class="dark:hidden" th:src="@{/images/beeTwin.svg}">
            <img class="hidden dark:block" th:src="@{/images/beeTwin_white.svg}">
        </div>
    </div>
    <div class="flex justify-around">
        <div class="w-5/12 flex items-center first-in-order">
            <p class="text-justify h-fit" th:text="#{lorem_ipsum}"></p>
        </div>
        <div class="w-3/12 second-in-order">
            <img class="dark:hidden" th:src="@{/images/beeTwin.svg}">
            <img class="hidden dark:block" th:src="@{/images/beeTwin_white.svg}">
        </div>
    </div>
    <div class="flex justify-around">
        <div class="w-5/12 flex items-center first-in-order">
            <p class="text-justify h-fit" th:text="#{lorem_ipsum}"></p>
        </div>
        <div class="w-3/12 second-in-order">
            <img class="dark:hidden" th:src="@{/images/beeTwin.svg}">
            <img class="hidden dark:block" th:src="@{/images/beeTwin_white.svg}">
        </div>
    </div>
</div>

<div th:replace="fragments/common-welcome.html::footer"></div>

</body>
</html>